html {
  background-color: #000000;
  font-family: sans-serif;
  font-size: 16px;
  color: #d8d8d8;
}

#gameBox {
  height: 80%;
  width: 60%;
  background: #1e1e1e;
  position: absolute;
  left: 20%;
  top: 5%;
}

.instructions {
  margin: 1%;
  position: relative;
  text-align: center;
  margin-bottom: 2%;
}

#animal {
  font-size: 25px;
}


#startButtonBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
}

#startButton {
  background-color: chocolate;
  border-color: aqua;
  width: 30%;
  height: 100%;
  position: relative;
  font-size: 30px;
}

.centredElements {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputLine {
  display: inline-block;
}

#userInputBox {
  background-color: #faa8a8;
  margin-left: 5px;
}

img {
  display: block;
  max-height: 50%;
  margin: auto;
  position: relative;
  border: 10px solid;
  border-color: #000000;
}
